@typeparam T where T : class, IHasKey<TKey>, new()
@typeparam TKey where TKey : IEquatable<TKey>
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@if (Object != null)
{
    <!-- Modal -->
    <div id="genericDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row row-cols-2">
                        @foreach (var property in PropertyBindings)
                        {
                            <div class="col">
                                <h1 class="h6">@property.Name</h1>
                            </div>

                            <div class="col text-end">
                                @{
                                    //get property value from Object 
                                    var value = Object?.GetType().GetProperty(property.Name.Replace(" ", ""))?.GetValue(Object)?.ToString() ?? "Not Supplied";
                                    <p class="h6">@value</p>
                                }
                            </div>
                        }
                    </div>
                </div>
                @if (MenuOptions.Count > 0)
                {
                    <div class="modal-footer">
                        @foreach (var option in MenuOptions)
                        {
                            //if option.Navigate is true, then it should navigate to the specified page, else it should open a modal
                            if (option.Navigate)
                            {
                                <a @onclick='()=>Navigate(option.Route + "/" + Object.Id.ToString())' class="btn btn-primary">@option.Name</a>
                            }
                            else
                            {
                                if (option.OnClick != null)
                                {
                                    <button type="button" class="btn btn-primary" @onclick="option.OnClick">@option.Name</button>
                                }
                                else
                                {

                                    <a class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#@option.Route">
                                        <i class=" bi-eye-fill me-1"></i> View
                                    </a>
                                }
                            }
                        }
                    </div>
                }
                else
                {
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- End Modal -->
}


@code {
    [Parameter]
    public T Object { get; set; }
    [Parameter]
    public List<MenuOption> MenuOptions { get; set; } = new();
    private T Property { get; set; } = new();
    bool isloading = false;
    List<DigitalProperty> Properties { get; set; } = new();
    List<PropertyBinding> PropertyBindings { get; set; } = new();
    [Parameter]
    public EventCallback<T> CreateObject { get; set; }
protected override void OnInitialized()
{
    Properties = GetProperties<DigitalDetail>(Property);
    PropertyBindings = Properties.Select(p => new PropertyBinding
    {
        Name = p.Name,
        ValueAsString = p.PropertyInfo.PropertyType == typeof(string) ? (string)p.PropertyInfo.GetValue(p.Object) : null,
        ValueAsBool = p.PropertyInfo.PropertyType == typeof(bool) ? (bool)p.PropertyInfo.GetValue(p.Object) : false,
        ValueAsDateTime = p.PropertyInfo.PropertyType == typeof(DateTime) ? (DateTime)p.PropertyInfo.GetValue(p.Object) : default,
        ValueAsTimeOnly = p.PropertyInfo.PropertyType == typeof(TimeOnly) ? (TimeOnly)p.PropertyInfo.GetValue(p.Object) : default,
        ValueAsNumber = p.PropertyInfo.PropertyType.IsNumericType() ? Convert.ToDouble(p.PropertyInfo.GetValue(p.Object)) : default,
        ValueAsEnum = p.PropertyInfo.PropertyType.IsEnum ? (int)p.PropertyInfo.GetValue(p.Object) : default
    }).ToList();
}
  
    private async Task Create()
    {
        //Call EventCallback to create a new object
        await CreateObject.InvokeAsync(Object);
    }


    
    class PropertyBinding {
        public string Name { get; set; }
        public string ValueAsString { get; set; }
        public bool ValueAsBool { get; set; }
        public DateTime ValueAsDateTime { get; set; }
        public TimeOnly ValueAsTimeOnly { get; set; }
        public double ValueAsNumber { get; set; }
        public int ValueAsEnum { get; set; }
        public string GenericValue => ValueAsString ?? ValueAsBool.ToString() ?? ValueAsDateTime.ToString() ?? ValueAsTimeOnly.ToString() ?? ValueAsNumber.ToString() ?? ValueAsEnum.ToString();
    }



    public async Task Reload()
    {
        StateHasChanged();
    }

    private async Task Navigate(string optionRoute)
    {
        //close the modal
        await JsRuntime.InvokeVoidAsync("closeModal", $"#genericCreate+{typeof(T).Name}");
        //navigate to the specified route
        NavigationManager.NavigateTo(optionRoute);
        
    }

}